<html>
    <head>
        {% if title %}
            <title>{{ title }} - Streamer Notifications </title>
        {% else %}
        <title>Twitch to Discord Notifications</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            {% if user %}
                <a href="/guilds">Guilds</a>
                <a href="/logout">Logout</a>
            {% else %}
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>